Flask==0.10.1
Flask-Bootstrap==3.2.0.2
Flask-Compress==1.0.2
Flask-DebugToolbar==0.9.0
Flask-OAuthlib==0.7.0
Flask-RESTful==0.2.12
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
aniso8601==0.83
blinker==1.3
execnet==1.2.0
httplib2==0.9
itsdangerous==0.24
oauth2==1.5.211
oauthlib==0.6.3
pep8==1.5.7
py==1.4.23
pyflakes==0.8.1
pytest==2.6.1
pytest-cache==1.0
pytest-flakes==0.2
pytest-pep8==1.0.6
pytz==2014.4
stevedore==0.15
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wsgiref==0.1.2
mt-940==1.0
Flask-Failsafe==0.2
argparse==1.2.1
six==1.7.3
